header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
  color: MediumAquamarine;
  padding: 0 0 10px 20px;
  border: 1px solid black;
  flex-grow: 1;
}

#myt {
  margin-right: 10px;
}

nav {
  padding-right: 20px;
}

nav span {
  margin: 0 10px;
}

a {
  color: black;
}

.main {
  display: flex;
  border: 1px solid black;
  height: 100%;
}

.left {
  display: flex;
  flex-basis: 630px;
  border: 1px solid black;
}

.mid {
  display: flex;
  flex-basis: 630px;
  border: 1px solid black;
}

.right {
  display: flex;
  flex-basis: 630px;
  border: 1px solid black;
}
